.logo {
  width: 120px;
  height: 120px;
}

.padding-app-drawer {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 40px;
}

.icon {
  width: 7%;
  height: 50%;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 38px;
  margin-left: 3%;
}

.ProfileName h2{
  width: 80%;
  font-size: 16px;
  float: left;
  margin-top: 70px;
  margin-left: 34%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #27265F;
}

.ProfileName h4{
  font-size: 12px;
  float: left;
  margin-top: -5px;
  margin-left: 34%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #333;
  opacity: 0.5;
}

.Profile {
  margin-top: 60px;
  margin-left: 10%;
  width: 30px;
}

#profile-image {
  width: 70px;
  border: 3px solid #27265F;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 10px 5px rgba(39, 38, 95, 0.1);
  border-radius: 50%;
  margin-left: 14%;
}

.logo svg{
  padding: 0;
  margin: 0;
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: -35%;
  
}

.logo-text {
  float: left;
  width: 300px;
  margin-left: 70%;
  margin-top: -68px;
  font-size: 22px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.MuiListItemIcon-root {
  padding: 10px;
  margin-left: 15%;
  color: #27265F;
}

.MuiTableCell-root {
  padding: 30px;
}

#welcome {
  font-family: 'proxima_novathin';
}

#user-name {
  margin-top: 0px;
  font-family: 'proxima_novabold';
}

.divider {
  width: 100%;
  height: 4px;
  background-color: #27265F;
  margin-top: -15px;
  margin-bottom: 40px;
}

#classes {
  margin-top: -120px;
}

.all-classes {
  background-color: #27265F;
  color: aliceblue;
  border-radius: 20px;
  height: 120px;
}

.all-classes p{
  padding-top: 5px;
  margin-left: 5%;
}

.all-classes h3{
  margin-left: 2%;
  display: inline;
  background-color: #F15F24;
  padding: 5px;
}

.my-classes {
  background-color: #27265F;
  color: aliceblue;
  border-radius: 20px;
  height: 100px;
}

.my-classes p{
  padding-top: 12px;
  margin-left: 5%;
}

.my-classes h3{
  margin-left: 2%;
  display: inline;
  background-color: #F15F24;
  padding: 5px;
}

